body {
    background-color: rgb(246, 246, 246);
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

nav form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 40px;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
}

.search-container label,
.search-container select {
    margin-right: 10px;
}

.search-container select {
    border: none;
    padding: 10px;
    width: 200px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

nav button {
    background-color: #1d4e2b;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 10px; 
    left: 10px; 
    max-height: 50px; 
}
h1 {
    display: block;
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 80px;
}
h2 {
    
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 40px;
    top: 50px; 
    left: 50px; 
    
}
.social-icons {
    display:flex ;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px; 
    color: #555;
}
.social-icons a {
    margin-left: 10px; 
    font-size: 10px;
    margin-top: 10px;
}
.social-text {
    text-align: right;
    margin-right: 60px; 
    color: #ffffff; 
}
.explore-regions {
    padding: 20px; 
    margin-top: 200px; 
    text-align: center; 
    margin-top: 100px
}

.explore-regions ul {
    list-style-type: none;
    padding: 0;
}

.explore-regions li {
    margin: 10px 0;
    font-size: 20px; 
}

.explore-regions a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

nav ul li#apply a {
    background-color: #f4c20b;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
}
button {
background-color: #abb1ad;
color:#ffffff;
border: none;
padding: 15px 30px;
border-radius: 20px;
cursor: pointer;
font: inherit;
text-decoration: none;
color: inherit; 
display: flex;
align-items: center;
}

nav button[type="submit"] a {
text-decoration: none;
color: inherit; 
display: flex;
align-items: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: grey;
  color: white;
}

.fa-twitter {
  background: grey;
  color: white;
}

.fa-youtube {
  background: grey;
  color: white;
}

.fa-instagram {
  background: grey;
  color: white;
}
.city-container{
    margin-left: 40px;  
    margin-right: 300px;

}
.city-image {
    width:  300px;
    height: 200px;
    margin-right: 40px;
    border-radius: 8px;

}


.city-description {
    font-size: 1em;
    top: 50px;
    bottom: 50px;
  
}
.city-text {
    margin-left: 20px;

}
.city {
    display: flex;
    align-items: center;
    margin: 10px;
    text-align: left;
    flex-direction: row; /* Added to display in a row */

}
.additional-box {
    background-color: #ffffff;
    width: 200px;
    height: 300px;
    border-radius: 8px;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
   right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.additional-box-text {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.rectangle-container {
    display: flex;
    flex-direction: column; /* Updated to column */
    align-items: center; /* Centered horizontally */
    margin-top: 10px;
}

.rectangle {
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction:column; /* Updated to display in a row */
    align-items: flex-start;
    justify-content: center;
    color: #000000;
    margin-bottom: 10px; 
    border: 2px solid #ccc;
    padding: 2px;
   
}

.rectangle-text {
    font-size: 12px;
    margin-top: 5px;
}
.rectangle img {
    width: 20px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
   position:absolute;
   top:absolute;
   right: 50px;
}



